body{
    background-color: #2A2B2F;
    max-width: 900px;
    margin: auto;
}
h1{
    color: white;
    font-family: "press start 2p", "consolas", sans-serif;
}
h1::selection{
    color: white;
    background-color: black;
}
.para::selection{
    color: white;
    background-color: black;
}
p{
    color: white;
    font-family: "consolas", sans-serif;
    font-size: 20px;
}
.fa-youtube{
    color: white;
}
a:link{
    color: yellow;
}
a:visited{
    color: yellow;
}
a:hover{
    color: #c5d5d5;
}